@model IList<XingZen.Domain.Model.Store>
@{
    ViewData["Title"] = "Stores";
}

<h1>@ViewData["Title"]</h1>

@foreach (var store in Model) {
    <div>
        <h3>
            @store.Name 
            <small>@store.Id</small>
        </h3>
            <a asp-action="Display" asp-route-id="@store.Id">Display</a>
            <a asp-action="CashRegister" asp-route-id="@store.Id">CashRegister</a>
    </div>
} 


<div>
    <h2>Create new store</h2>
    <form action="/Stores/createStore" method="POST">
    <input type="text" name="name"/>
    <input type="submit" />
    </form>
</div>


<div>    
UserClaims: @ViewData["UserClaims"]
</div>